<ion-view view-title="Search by Drug">
    <!--   start subheader-->
    <ion-header-bar class="bar bar-subheader item-input-inset">

        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" class="searchbox" placeholder="Enter search terms" id="searchClients" name="searchClients" ng-model="searchList" ng-change="searchHandler()">
            <a on-touch="clearSearch()" class="button button-icon icon ion-ios-close-empty"></a>
        </label>

    </ion-header-bar>

    <!-- End subheader -->

    <!--   start content-->
    <ion-content padding="true">

        <div class="button-bar bar-positive padding-bottom">
            <a class="button button-positive button-outline" id="Colorectal" on-touch="findCancerType($event)">Colorectal</a>
            <a class="button button-positive button-outline" id="Breast" on-touch="findCancerType($event)">Breast</a>
            <a class="button button-positive button-outline" id="Lung" on-touch="findCancerType($event)">Lung</a>
        </div>
        <div class="button-bar bar-positive padding-bottom ">
            <a class="button button-positive button-outline" id="Prostate" on-touch="findCancerType($event)">Prostate</a>
            <a class="button button-positive button-outline" id="Ovarian" on-touch="findCancerType($event)">Ovarian</a>
            <a class="button button-positive button-outline" id="Leukaemia" on-touch="findCancerType($event)">Leukaemia</a>
        </div>

        <!--        //TODO: Add href to list-->
        <ion-list ng-show="fullList">
            <div auto-list-divider auto-list-divider-value="{{code.Drug}}" ng-repeat="code in codes |orderBy: 'Drug'">
                <div class="item item-avatar item-text-wrap">
                    <img src="img\Benzene bullet 1.png" />
                    <a ng-href="#/tab/list/{{code.PBSCode}}" style=" text-decoration:none;">
                        <h2 style=" text-transform: uppercase ">{{code.Drug}}</h2><span class="item-note">{{ code.ScriptType }}</span>
                        <p>{{code.Diagnosis}}</p>
                    </a>
                </div>
            </div>
        </ion-list>
        <ion-list ng-show="filteredList ">
            <div ng-repeat="code in codes |orderBy: 'Drug' | filter: searchList ">
                <div class="item item-text-wrap ">
                    <a ng-href="#/tab/list/{{code.PBSCode}}" style=" text-decoration:none;">
                        <h2 style="text-transform: uppercase ">{{code.Drug}} </h2>
                        <p>{{code.Diagnosis}}</p>
                    </a>
                </div>
            </div>
        </ion-list>

    </ion-content>
    <!--    end content-->
</ion-view>
