<ion-view view-title="PBS Details">
    <ion-content class="padding">
        <div class="item item-divider item-dark">
            <b>{{ detail.Drug }}</b><span align="right" class="item-note">{{ detail.Hospital }} Hospital</span>
        </div>
        <div class="item item-text-wrap">
            <div class="row">
                <div class="col col-50"><b>Streamline Authority Code</b>:</div>
                <div class="col" style="color:Red"><b>{{ detail.Streamline }}</b>
                </div>
            </div>
            <div class="row">
                <div class="col col-50"><b>Max PBS Qty</b>:
                </div>
                <div class="col">{{ detail.PBSMaxQty }}</div>
            </div>
            <div class="row">
                <div class="col col-50"><b>Repeats</b>:
                </div>
                <div class="col">{{ detail.MaxRepeats }} </div>
            </div>
            <div class="row">
                <div class="col col-50"><b>PBS Code</b>:
                </div>
                <div class="col">{{ detail.PBSCode }} </div>
            </div>
            <div class="row" ng-if="detail.Diagnosis">
                <div class="col col-50"><b>Diagnosis</b>:
                </div>
                <div class="col">{{ detail.Diagnosis }}</div>
            </div>
            <div class="row" ng-if="detail.Treatment">
                <div class="col col-50"><b>Treatment Phase</b>: </div>
                <div class="col">{{ detail.Treatment }}</div>
            </div>
            <div class="row" ng-if="detail.Criteria">
                <div class="col"><b>PBS Criteria</b>:
                    <br>
                    <p>{{ detail.Criteria }} </p>
                </div>
            </div>
            <div class="row">
                <div class="col col-50"><b>Website</b>: </div>
                <div class="col">
                    <a href="{{ detail.Website }}" target="_blank">PBS Website for {{ detail.Drug }} </a>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
