<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!--     home Tab -->
    <ion-tab title="Home" icon="ion-ios-home" ui-sref="tab.home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <!-- codes Tab -->
    <ion-tab title="List by Drug" icon="ion-medkit" ui-sref="tab.list">
        <ion-nav-view name="tab-list"></ion-nav-view>
    </ion-tab>

    <!-- About Tab -->
    <ion-tab title="About" icon="ion-ios-information-outline" ui-sref="tab.about">
        <ion-nav-view name="tab-about"></ion-nav-view>
    </ion-tab>
</ion-tabs>
