/* Empty. Add your own CSS if you like */

.star>.item-content {
    background-color: #EEE8D6 !important;
}

.splash {
    background: url(../img/skyline.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.branding {
    width: 50%;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.tagline {
    font-size: 1.4rem;
}

.branding p {
    margin-top: 10px;
    font-size: 1rem;
}

.item-divider {
    background-color: #EEE8D6;
}

.bar-positive,
.tabs-positive>.tabs {
    background-color: #417D9A !important;
    border-color: #417D9A;
}

.item-thumbnail-left img {
    border-radius: 10px;
}

.item h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #417D9A;
}

.button.button-icon.input-button {
    position: absolute;
    right: 0;
    top: 5px;
    color: #bbb;
}

.platform-android .bar-subheader.has-tabs-top {
    top: 93px !important;
}

.platform-android .has-subheader.has-tabs-top {
    top: 137px;
}

.platform-android .bar-custom {
    top: 93px;
}

.list-caps {
    text-transform: capitalize;
}

input[type="text"] {
    height: auto !important;
}

.spinner svg {
    width: 28px;
    height: 28px;
    stroke: #33CCFF;
    fill: #33CCFF;
    text-align: right;
}

.item-icon-left ion-spinner {
    float: left;
    margin-left: -3.2em;
    margin-right: 1em;
    margin-top: -0.2em;
}
